<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <!-- SEO and Accessibility -->
    <meta name="description" content="Your legal aid services - GOV.UK">
    <meta name="keywords" content="legal aid, services, government, MOJ, Ministry of Justice, legal assistance">
    <meta name="author" content="Ministry of Justice">
    <meta name="application-name" content="Your legal aid services - GOV.UK">
    <meta name="robots" content="index, follow">
    <meta name="format-detection" content="telephone=no">

    <!-- Progressive Web App -->
    <meta name="theme-color" content="#1d70b8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Legal Aid Services">


    <!-- Favicons and Icons -->
    <link rel="icon" sizes="48x48" th:href="@{/assets/rebrand/images/favicon.ico}">
    <link rel="icon" sizes="any" th:href="@{/assets/rebrand/images/favicon.svg}" type="image/svg+xml">
    <link rel="mask-icon" th:href="@{/assets/rebrand/images/govuk-icon-mask.svg}" color="#1d70b8">
    <link rel="apple-touch-icon" th:href="@{/assets/rebrand/images/govuk-icon-180.png}">
    <link rel="manifest" th:href="@{/assets/rebrand/manifest.json}">
    <meta property="og:image" th:content="@{/assets/rebrand/images/govuk-opengraph-image.png}">

    <!-- Stylesheets -->
    <link th:href="@{/css/govuk-frontend-5.11.1.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/moj-frontend-5.1.5.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css">
    <title>Your legal aid services - GOV.UK</title>

</head>