<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'login'})}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Homepage</title>
</head>

<body>
<script>
    document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
</script>

<main class="govuk-main-wrapper" id="main-content">

    <div class="moj-page-header-actions">
        <div class="moj-page-header-actions__title">
            <h1 class="govuk-heading-xl">Your transfer requests</h1>
        </div>

        <div class="moj-page-header-actions__actions">
            <div class="moj-button-group moj-button-group--inline">
                <button class="govuk-button govuk-button--secondary"
                        data-module="govuk-button"
                        onclick="location.href='/external/user-transfer-request';"
                        type="button">
                    Request transfer
                </button>
            </div>
        </div>
    </div>

    <p class="govuk-body">
        Request to transfer CCMS cases to your new account.
    </p>

    <table class="govuk-table" data-module="moj-sortable-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Requested Username</th>
            <th class="govuk-table__header" scope="col">Date Requested</th>
            <th class="govuk-table__header" scope="col">Decision Date</th>
            <th class="govuk-table__header" scope="col">Status</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row" th:each="request : ${userRequests}">
            <td class="govuk-table__cell" th:text="${request.oldLoginId}">Requested Username</td>
            <td class="govuk-table__cell"
                th:text="${#temporals.format(request.createdDate, 'dd MMM yyyy')}">Date Requested</td>
            <td class="govuk-table__cell"
                th:text="${request.decisionDate != null ? #temporals.format(request.decisionDate, 'dd MMM yyyy') : '—'}">Decision Date</td>
            <td class="govuk-table__cell">
                <span class="moj-badge moj-badge--green" th:if="${request.status.name() == 'APPROVED'}"
                      th:text="${request.status}">Approved</span>
                <span class="moj-badge moj-badge--red" th:if="${request.status.name() == 'REJECTED'}"
                      th:text="${request.status}">Rejected</span>
                <span class="moj-badge moj-badge--blue" th:if="${request.status.name() == 'OPEN'}"
                      th:text="${request.status}">Open</span>
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(userRequests)}">
            <td class="govuk-table__cell" colspan="4">No transfer requests found.</td>
        </tr>
        </tbody>
    </table>

    <!-- Pagination controls -->
    <nav class="moj-pagination" aria-label="Pagination navigation" th:if="${totalPages > 1}">
        <ul class="moj-pagination__list">
            <!-- Previous -->
            <li class="moj-pagination__item moj-pagination__item--prev" th:if="${currentPage > 0}">
                <a class="govuk-link govuk-pagination__link"
                   th:href="@{/external/(page=${currentPage - 1})}">
                    <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg"
                         height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                        <path
                            d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z">
                        </path>
                    </svg>
                    <span>Previous<span class="govuk-visually-hidden"> page</span></span>
                </a>
            </li>

            <!-- Page numbers -->
            <th:block th:each="i : ${#numbers.sequence(1, totalPages)}">
                <li class="moj-pagination__item" th:classappend="${i-1 == currentPage ? 'moj-pagination__item--active' : ''}">
                    <a class="moj-pagination__link"
                       th:href="@{/external/(page=${i - 1})}"
                       th:text="${i}"></a>
                </li>
            </th:block>

            <!-- Next -->
            <li class="moj-pagination__item moj-pagination__item--next" th:if="${currentPage < totalPages - 1}">
                <a class="govuk-pagination__link-title" th:href="@{/external/(page=${currentPage + 1})}">
                    <span class="govuk-pagination__link-title">Next<span class="govuk-visually-hidden"> page</span></span>
                    <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg"
                         height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                        <path
                            d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
                        </path>
                    </svg>
                </a>
            </li>
        </ul>

        <p class="moj-pagination__results">
            Showing
            <b th:text="${(currentPage * 10) + 1}"></b>
            to
            <b th:text="${(currentPage * 10) + userRequests.size()}"></b>
            of
            <b th:text="${totalItems}">0</b>
            results
        </p>
    </nav>

</main>
</body>
</html>
