<html th:fragment="layout" lang="en" class="govuk-template--rebranded" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{partials/head :: head}">
</head>

<body class="govuk-template__body">
  <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>

  <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

  <th:block th:replace="~{partials/header :: header}"></th:block>

  <div class="govuk-width-container">
    <div class="govuk-phase-banner" id="feedback">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service. Help us improve it by <a class="govuk-link"
            href="https://www.smartsurvey.co.uk/s/LAASiLAS/">completing our short survey.</a>
        </span>
      </p>
    </div>
    <nav th:if="${navigation != null}">
      <div th:replace="${navigation}"></div>
    </nav>
    <nav th:if="${breadcrumbs != null}">
      <div th:replace="${breadcrumbs}"></div>
    </nav>
    <main class="govuk-main-wrapper" id="main-content" role="main" style="padding-top: 0;">
      <th:block th:replace="${mainContent}">Default Main Content</th:block>
    </main>
  </div>
  <footer th:replace="~{partials/footer :: footer}"></footer>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
    </script>
  <script type="module" th:src="@{/js/govuk-frontend-5.11.1.min.js}"></script>
  <script type="module" th:src="@{/js/moj-frontend-5.1.5.min.js}"></script>
  <script type="module">
    import * as GOVUKFrontend from '/js/govuk-frontend-5.11.1.min.js'
    import * as MOJUKFrontend from '/js/moj-frontend-5.1.5.min.js'

    // Initialize only if not already initialized
    if (!window.govukFrontendInitialized) {
      GOVUKFrontend.initAll({ rebrand: true });
      window.govukFrontendInitialized = true
    }

    if (!window.mojFrontendInitialized) {
      MOJUKFrontend.initAll()
      window.mojFrontendInitialized = true
    }
  </script>
</body>

</html>