<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'login'},
      breadcrumbs=~{::#breadcrumbs})}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Transfer User</title>
</head>

<body>
<script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
<nav aria-label="Breadcrumb" class="govuk-breadcrumbs" id="breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" th:href="@{/}">
                < Back</a>
        </li>
    </ol>
</nav>
<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-hint govuk-heading-l">
        Create a transfer request
    </div>
    <form th:action="@{/check-answers}" th:method="post" th:object="${user}">
        <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l">
                    What was your CCMS login ID
                </label>
            </h1>
            <div class="govuk-hint" id="event-name-hint">
                This may have been a username or email
            </div>
            <input class="govuk-input govuk-!-width-one-half" id="old-login" name="oldLogin" th:value="*{oldLogin}"
                   type="text">
        </div>
        <div class="govuk-form-group">
            <h2 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="additionalInfo">
                    Additional Information (Optional)
                </label>
            </h2>
            <div class="govuk-hint" id="more-detail-hint">
                Give any information that will help link to your old account
            </div>
            <textarea aria-describedby="more-detail-hint" class="govuk-textarea" id="additionalInfo"
                      name="additionalInfo"
                      rows="5" th:field="*{additionalInfo}"></textarea>
        </div>
        <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button" href="/check-answers">
                Continue
            </button>
            <a class="govuk-link" href="#">Cancel</a>
        </div>
    </form>
</main>
</body>

</html>