<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'login'},
      breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <title>User Details</title>
</head>

<body>
<script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
<nav aria-label="Breadcrumb" class="govuk-breadcrumbs" id="breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" th:href="@{/}">
                < Back</a>
        </li>
    </ol>
</nav>
<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-hint govuk-heading-l">
        Request account access
    </div>
    <div class="moj-page-header-actions">
        <div class="moj-page-header-actions__title">
            <h1 class="govuk-heading-l">Accessing CCMS</h1>
        </div>
    </div>

    <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l">
                Enter your old login ID
            </label>
        </h1>
        <div id="event-name-hint" class="govuk-hint">
            Your Login ID could be username or email whatever you needed to access CCMS
        </div>
        <input class="govuk-input govuk-!-width-one-half" type="text">
    </div>
    <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="more-detail">
                Additional Information (Optional)
            </label>
        </h2>
        <div id="more-detail-hint" class="govuk-hint">
            This be anything that will help us match your record
        </div>
        <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"
                  aria-describedby="more-detail-hint"></textarea>
    </div>
    <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>
        <a class="govuk-link" href="#">Cancel</a>
    </div>
</main>
</body>

</html>