<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'error'},
      breadcrumbs=~{::#breadcrumbs})}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Not Authorised</title>
</head>

<body>
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column">
                <h1 class="govuk-heading-xl">You're not authorised to access this page</h1>
                <p class="govuk-body">You don't have permission to perform this action.</p>
            </div>
        </div>
    </main>
</div>
</body>

</html>