<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'login'},
      breadcrumbs=~{::#breadcrumbs})}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Request Rejected</title>
</head>

<body>
<script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
<nav aria-label="Breadcrumb" class="govuk-breadcrumbs" id="breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" th:href="@{/login}">
                < Back</a>
        </li>
    </ol>
</nav>
<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l">
                Request rejected
            </label>
        </h1>
        <div class="govuk-hint" id="event-name-hint">
            Your request to access accounts related to this CCMS login id has been rejected.<br><br>

            This is because the login id you provided is not valid, it has already been attributed<br>
            to another user and/or it is for a firm that you do not have permission for.
        </div>
    </div>

    <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button" type="button" onclick="location.href='/'">
            Return to manage transfer request
        </button>
    </div>
</main>
</body>

</html>