<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(
      title=~{::title},
      mainContent=~{::#main-content},
      pageCategory=${'login'},
      breadcrumbs=~{::#breadcrumbs})}" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Request Rejected</title>
</head>

<body>
<script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--xl">
                Request rejected
            </label>
        </h1>
        <div class="govuk-hint" id="event-name-hint">
            Your request to transfer cases from CCMS has been rejected.<br><br>

            This could be because the CCMS username you provided is:
            <ul>
                <li>not correct</li>
                <li>linked to another user</li>
                <li>for a firm you do not have access to</li>
                <li>linked to an account that has been closed</li>
            </ul>
        </div>
    </div>

    <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button" onclick="location.href='/'" type="button">
            Return to manage transfer request
        </button>
    </div>
</main>
</body>

</html>